<div class="banner" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://lh5.googleusercontent.com/proxy/IAJG4jhqpuam8O7TTwbAs1T41SIePerM1e9p-losuvLsDcUPtgUKbX4EAOf_5foyqeq-5ekFHu3HcOj7E57ImsCCMJ2uJN-0cIjLwA=s0-d');">
  <div class="container">
    <h1><strong>Loconsole</strong> is the website to rent <strong>Games Consoles</strong>!</h1>
    <div class="">
    <p>Rent your games consoles around your home!</p>
    </div>
    <a class="btn btn-ghost" href="#">Create your account</a>
  </div>
</div>


  <div class="container">
     <div class="cards-console">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.mos.cms.futurecdn.net/7Qv4q73m9Nif9CpxtfVWs6.jpg)">
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2>Playstation PS5</h2>
            <p class="location" > Lille</p>
            <p class="price">50€</p>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
            <div class="card-trip-info-right">

            </div>
        </div>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.radiocms.net/uploads/2020/11/07165650/IMG_9305.jpg)">
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2>Microsoft Xbox Series X</h2>
            <p class="location" > Arras</p>
            <p class="price">50€</p>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
            <div class="card-trip-info-right">

            </div>
        </div>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.nintendo.se/images/_sections/section_nintendo_switch/inline/01-stationary/img-slider-04-pc_tab.jpg)">
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2>Nintendo Switch</h2>
            <p class="location" > Paris</p>
            <p class="price">50€</p>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
            <div class="card-trip-info-right">

            </div>
        </div>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hardzone.es/app/uploads-hardzone.es/2020/11/Nintendo-Wii.jpg)">
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2>Nintendo Wii</h2>
            <p class="location" > Paris</p>
            <p class="price">25€</p>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
            <div class="card-trip-info-right">

            </div>
        </div>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dakarvente.com/media/annonces/pics/16f3204aa5ae0f9c74477b0ea12a7178.jpeg)">
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2>SEGA Mega Drive 2</h2>
            <p class="location" > Lille</p>
            <p class="price">25€</p>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
            <div class="card-trip-info-right">

            </div>
        </div>
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://1.bp.blogspot.com/-XmANd5kMUC4/WsUWeDJOa4I/AAAAAAAAGlM/Uo4LH8-FQe4dyUkNF8pXPyPT8d3uYpJaQCLcBGAs/s1600/saturn%2Bmodel%2B2.JPG)">
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2>SEGA Saturn 2</h2>
            <p class="location" > Arras</p>
            <p class="price">25€</p>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
            <div class="card-trip-info-right">

            </div>
        </div>
      </div>


    </div>
  </div>
