<div class="banner" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://lh5.googleusercontent.com/proxy/IAJG4jhqpuam8O7TTwbAs1T41SIePerM1e9p-losuvLsDcUPtgUKbX4EAOf_5foyqeq-5ekFHu3HcOj7E57ImsCCMJ2uJN-0cIjLwA=s0-d');">
  <div class="container">
    <h1><strong>Loconsole</strong> is the website to rent <strong>Games Consoles</strong>!</h1>
    <div class="">
    <p>Rent your games consoles around your home!</p>
    </div>
    <a class="btn btn-ghost" href="#">Create your account</a>
  </div>
</div>
