<%= simple_form_for [console, booking] do |f| %>
  <%= f.input :date_begin,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :date_end,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
  <div class="text-center">
    <%= f.submit class:"btn btn-ghost" %>
  </div>

<% end %>
