.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: white;
  font-family: 'Oswald', sans-serif;
}

.navbar-lewagon h2 {
  font-family: 'Oswald', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width:100px;
}
