.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width:60px;
}
